.App {
  margin: 50px;
  text-align: center;
}
.content{
  width: 1400px;
}
button{
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: red;
  width: 320px;
  height: 50px;
  border-radius: 5px;
}
.numbers{
  margin-left: 370px;
  display: flex;
}
.numbers p{
  margin: 30px;
  padding: 20px;
  background: #777620;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 5px solid #000;
}